@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

/* Hide scrollbar utility */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}